{% extends 'base.html' %} 
{% load buttons %}
{% load static %}
{% load custom_links %} 
{% load helpers %}
{% load plugins %} 

{% block content %}



<style>
    /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 254, 42);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: rgb(0, 0, 0);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<h1>Gimme data!!</h1>
<form method='post'>
 <label for ="spare_npc_number"> How many spare NPCs: </label>
 <input type="number" id="spare_npc_number" name ="spare_npc_number">
 <br><br>

 <label for ="general_store_number"> How many general stores: </label>
 <input type="number" id="general_store_number" name ="general_store_number">
 <label for ="general_store_number"> How many general store rare items: </label>
 <input type="number" id="general_store_rare_items_number" name ="general_store_rare_items_number">
 <br><br>

 <label for ="magic_store_number"> How many magic stores: </label>
 <input type="number" id="magic_store_number" name ="magic_store_number">
 <label for ="magic_store_number"> How many magic store rare items: </label>
 <input type="number" id="magic_store_rare_items_number" name ="magic_store_rare_items_number">
 <br><br>

 <label for ="combat_store_number"> How many combat stores: </label>
 <input type="number" id="combat_store_number" name ="combat_store_number">
 <label for ="combat_store_number"> How many combat store rare items: </label>
 <input type="number" id="combat_store_rare_items_number" name ="combat_store_rare_items_number">
 <br><br>



  {% csrf_token %}
  
  <button type="submit", 
  name="test", 
  class = "ted"> 
  Build City</button>
</form>


</div>








<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>
{% endblock content %}